@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-text-inverted: 255 255 255;

		/* Tailwind Sky Swatch */
		--color-primary-50: 240 249 255;
		--color-primary-100: 224 242 254;
		--color-primary-200: 186 230 253;
		--color-primary-300: 125 211 252;
		--color-primary-400: 56 189 248;
		--color-primary-500: 14 165 233;
		--color-primary-600: 2 132 199;
		--color-primary-700: 3 105 161;
		--color-primary-800: 7 89 133;
		--color-primary-900: 12 74 110;

		/* Tailwind Fuchsia Swatch */
		--color-accent-50: 253 244 255;
		--color-accent-100: 250 232 255;
		--color-accent-200: 245 208 254;
		--color-accent-300: 240 171 252;
		--color-accent-400: 232 121 249;
		--color-accent-500: 217 70 239;
		--color-accent-600: 192 38 211;
		--color-accent-700: 162 28 175;
		--color-accent-800: 134 25 143;
		--color-accent-900: 112 26 117;

		/* White */
		--color-facade-50: 255 255 255;
		--color-facade-100: 255 255 255;
		--color-facade-200: 255 255 255;
		--color-facade-300: 255 255 255;
		--color-facade-400: 255 255 255;
		--color-facade-500: 255 255 255;
		--color-facade-600: 255 255 255;
		--color-facade-700: 255 255 255;
		--color-facade-800: 255 255 255;
		--color-facade-900: 255 255 255;
	}

	.dark {
		/* Tailwind Zinc Swatch */
		--color-facade-50: 250 250 250;
		--color-facade-100: 244 244 245;
		--color-facade-200: 228 228 231;
		--color-facade-300: 212 212 216;
		--color-facade-400: 161 161 170;
		--color-facade-500: 113 113 122;
		--color-facade-600: 82 82 91;
		--color-facade-700: 63 63 70;
		--color-facade-800: 39 39 42;
		--color-facade-900: 24 24 27;
	}
}
