@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-text-base: 0 0 0;
		--color-text-inverted: 255 255 255;

		--color-facade: 255 255 255;

		--color-primary-600: 8 145 178;
		--color-primary-700: 14, 116, 144;

		--color-accent-600: 124, 58, 237;
		--color-accent-700: 109, 40, 217;
	}

	.dark {
		--color-facade: 51 65 85;
	}
}
