@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-text-base: 0 0 0;
		--color-text-inverted: 255 255 255;
		--color-facade: 255 255 255;
		--color-primary: 8 145 178;
		--color-accent: 124, 58, 237;
	}

	.dark {
		--color-facade: 51 65 85;
	}
}
